{% extends "reportPage/index.html" %}


{% block content %}



<h2 style="margin-top: 30px;">Statystyki transakcji:</h2>

<div class="form-part">
    <h3 style="margin-top: 20px;">Całkowity przychód: {{total_income}}</h3>
    <h3 style="margin-top: 20px;">Liczba transakcji: {{number_of_transactions}}</h3>
    <h3 style="margin-top: 20px;">Średni przychód z transakcji: {{average_income_of_transaction}}</h3>
    <h3 style="margin-top: 20px;">Najpopularniejsza metoda płatności: {{mostPopularPaymentMethod}}</h3>
</div> 
    
<div class="form-part">
    <a href=" {% url 'ztm_app:statsPage' %}">
        <button type="submit" class="blue-btn">POWRÓT</button>
    </a>
</div> 

{% endblock %}