{% extends "landingPage/index.html" %}
{% block content %}
<h1 class="text-left">{{name}}</h1>
<div style="max-height: 85%; overflow: auto;">
    <h3 class="text-left">Czas</h1> 
        
            {% for t in time %} 
            <div  onclick= "setTicketType({{t.id_typu_biletu}})" style="width: 50%" class="list-group">
                <a  href="{% url 'ztm_app:reductionCarton' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div  class="d-flex w-50 justify-content-between">
                    <h5 class="mb-1">Czas ważności:  {{t.czas_waznosci}}</h5>
                  </div>
                  <p class="mb-1">Cena: {{t.cena}}</p>
                  <p> strefa: <span class="badge badge-primary badge-pill">{{t.strefa}}</span></p>
                </a>
              </div>
            {% endfor %}
        
        
</div>

{% endblock %}