{% extends "landingPage/index.html" %}
{% block content %}
<span id="endSummary" >
<h1  class="text-left">Podsumowanie </h1>
<div  >
    <div style="max-height: 50vh; overflow: auto; border: 1px solid black;
    border-radius: 5px;padding:1%; max-width: 50vw;" id="tickettable"> 

    </div>
    <div style="border-top: black" id="ticketsum">

    </div>
    <h3 style="margin-top: 5%" class="text-left">Wybierz metodę płatności i zapłać</h1>
        
        <div  style="margin-top: 0.5%" class="btn-group-lg buttons-select" role="group">
            {% for pay in payment %} 
            <a  >
                <button onclick="pay({{pay.id_metody_platnosci}})" type="button" class="btn-lg btn-info">{{pay.nazwa}}
                </button>
            </a>
        
            {% endfor %}
        </div>
        
</div>
</span>
<script type="text/javascript">

   summary()
    
    </script>
{% endblock %}